body{
    background: linear-gradient(45deg,transparent 34%, #d8d8d8 35%, #d8d8d8 40%, transparent 41%, transparent 59%, #d8d8d8  60%, #d8d8d8 65%, transparent 66%),linear-gradient(135deg,transparent 34%, #d8d8d8 35%, #d8d8d8 40%, transparent 41%, transparent 59%, #d8d8d8  60%, #d8d8d8 65%, transparent 66%);
    background-size: 3em 3em;
    background-color: #eeeeee;
}
.container {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}
#logo
{
	background:url(../assets/logolghsblack.svg) no-repeat center center;
	height: 190px;
	margin: 1rem auto 0 auto;
}
#titre{
    margin-top: 1rem;
    font-size: 2em;
    letter-spacing: +0.2rem;
    text-align: center;
}
#lms{
    margin-top: -1.2rem;
    letter-spacing: +0.1rem;
    font-size: 1.2em;
    text-align: center;
}
.sous-titre{
    letter-spacing: +0.1rem;
    font-size: 1.6em;
    font-weight: 600;
}
hr.hrlghs {
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
ul.navbar-list{
    list-style: none;
    display: block;
    text-align: center;
    font-size: 1.2em; 
}
ul.navbar-list li{
    display: inline-block;
}