.container {
    max-width: unset;
}
.lghs_side{
    background-color: #445766;
    color: white;
    height: 10rem;
    padding: 1rem;
    position: fixed;
    width: 250px;
    height: 1000px;
}
.lghs_offset{
    padding: 1rem;
    padding-left: 29rem;
}
#logo
{
	background:url(../assets/logolghswhite.svg) no-repeat center center;
	background-size:contain;
	height:8rem;
	margin: 0 auto;
}
#titre{
    font-size: 2em;
}
#sous-titre{
    font-size: 1.2em;
}
.lghs_navbox{
    display: block;
    margin: 0 0.75rem;
    padding: 0.75rem 0;
    text-align: right;
    height: 3rem;
    border-bottom: 1px #fff solid;
    text-transform: uppercase;
}
.lghs_navbox a{
    font-size: 1.13em;
    letter-spacing: +0.2rem;
    text-decoration: none;
    color:#fff;
}
.lghs_page_title{
    margin-top: 50px;
    text-align: center;
}